:root {
  --purple: #666ca3;
  --black: #13183f;
  --gray: #83869a;
  --pink: #f74780;
  --light-pink: #ffa7c3;
  --white: #ffffff;
  --gradient: linear-gradient(to top, #f02aa6, #ff6f48);
  --gradient2: linear-gradient(to top, #4851ff, #f02aa6);

  --heading-xl: 56px/70px "Plus Jakarta Sans";
  --headingL: 40px/51px "Plus Jakarta Sans";
  --headingM: 32px/40px "Plus Jakarta Sans";
  --headingS: 24px/28px "Plus Jakarta Sans";

  --bodyS: 16px/28px "Plus Jakarta Sans";
  --bodyM: 18px/28px "Plus Jakarta Sans";
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
}

html {
  width: 100%;
}

/* .width {
  width: 100%;
} */

.a-item {
  color: var(--pink);
  font: var(--bodyS);
  font-weight: 600;
  text-decoration: none;
}

.a-item:hover {
  color: var(--light-pink);
}

.top-image {
  /* background-image: url(/assets/image-hero-mobile.png); */
  width: 100%;
}

.heading {
  font: var(--heading-xl);
}

.button-one {
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  font: var(--bodyS);
  font-weight: 600;
  color: var(--white);
  background-color: var(--black);
}

.button-two {
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  font: var(--bodyS);
  font-weight: 600;
  color: var(--white);
  background-image: var(--gradient);
}

.button-three {
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  font: var(--bodyS);
  font-weight: 600;
  color: var(--white);
  background-image: var(--gradient2);
}

.button-one:hover {
  background-color: var(--purple);
}

.button-two:hover {
  opacity: 0.5;
}

.button-three:hover {
  opacity: 0.5;
}

#my-navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  /* gap: 2rem; */
  /* width: 100%; */
}

.item-box-color {
  font: var(--bodyM);
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  background-image: var(--gradient);
  color: white;
}

.item-box {
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.item-title {
  color: var(--black);
  font: var(--headingS);
  font-weight: 800;
}

.p-title {
  color: var(--gray);
  font: var(--bodyM);
  font-weight: 500;
}

.icon {
  width: 50px;
  height: 50px;
}

#top-box {
  display: flex;
  flex-direction: row;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 768px) {
  #top-box {
    flex-direction: column;
  }

  .grid-box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .item-box {
  }
}

.body-box {
  background-image: linear-gradient(to bottom, #ffffff, var(--gray));
}

#footer-box {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  padding: 3rem 1rem 3rem 1rem;
}

.bottomImage {
  max-height: 100%;
}
