:root {
  --purple: #666ca3;
  --black: #13183f;
  --gray: #83869a;
  --pink: #f74780;
  --light-pink: #ffa7c3;
  --white: #ffffff;
  --gradient: #f02aa6-ff6f48;
  --gradient2: #4851ff-f02aa6;

  --headingXL: 56px/70px "Plus Jakarta Sans ExtraBold";
  --headingL: 40px/51px "Plus Jakarta Sans ExtraBold";
  --headingM: 32px/40px "Plus Jakarta Sans ExtraBold";
  --headingS: 24px/28px "Plus Jakarta Sans ExtraBold";

  --bodyS: 16px/28px "Plus Jakarta Sans Bold";
  --bodyM: 18px/28px "Plus Jakarta Sans Medium";
}

.heading {
  font: var(--headingXL);
}
