:root {
  --purple: #666ca3;
  --black: #13183f;
  --gray: #83869a;
  --pink: #f74780;
  --light-pink: #ffa7c3;
  --white: #ffffff;
  --gradient: #f02aa6-ff6f48;
  --gradient2: #4851ff-f02aa6;

  --heading-xl: 56px/70px "Plus Jakarta Sans Extra Bold";
  --headingL: 40px/51px "Plus Jakarta Sans ExtraBold";
  --headingM: 32px/40px "Plus Jakarta Sans ExtraBold";
  --headingS: 24px/28px "Plus Jakarta Sans ExtraBold";

  --bodyS: 16px/28px "Plus Jakarta Sans Bold";
  --bodyM: 18px/28px "Plus Jakarta Sans Medium";
}

.heading {
  font: var(--heading-xl);
}

.button-one {
  box-shadow: none;
  background-color: var(--black);
  color: var(--white);
  border-radius: 100px;
  border: var(--black);
  font-size: 20;
}

.button-one:hover {
  background-color: var(--purple);
  border: var(--purple);
}

.item-box {
  background-color: var(--white);
}

#my-navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  /* gap: 2rem; */
  /* width: 100%; */
}

#top-box {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  #top-box {
    flex-direction: column;
  }
}

.body-box {
  background-image: linear-gradient(to bottom, #ffffff, #83869a);
}

#footer-box {
  background-color: var(--black);
}
